<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Zerotype Website Template</title>
	<link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="index.html"></a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="/">الصفحة الرئيسية</a>
				</li>
				<li>
					<a href="/features.html"> الخصائص</a>
				</li>
				<li>
					<a href="/about.html">نبذة عنا</a>
				</li>
				<li>
					<a href="/contact.html">تواصل معنا</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="adbox">
		<div class="clearfix">
			<img src="../static/images/box.png" alt="Img" height="342" width="368">
			<div>
				<h1>AraQA-BERT?</h1>
				<h2> ما هذا ؟ </h2>
				<p>
					AraQA-BERT هو نظام عبر الإنترنت يتخذ خطوة نحو تمكين المستخدمين من استكشاف المحتوى العربي المتزايد على الويب. <span><a href="features.html" class="btn">جربه الآن!</a><b>لا تقلق فهو مجاني</b></span>
				</p>
			</div>
		</div>
	</div>
	<div id="contents">
		
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2020 AFnan. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>